1. How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

2.2.2

2. How to create a series from a list, numpy array and dict?

In [7]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
s= pd.Series(mylist)
s2=pd.Series(myarr)
s3=pd.Series(mydict)
s.head()
s2.head()
s3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [11]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index() 
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [16]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df= pd.concat([ser1,ser2],axis=1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

5. How to assign name to the series’ index?

In [18]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'),name="alphabets")
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [20]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
res = ser1[~ser1.isin(ser2)]
print(res)

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2)) 
ser_i = pd.Series(np.intersect1d(ser1, ser2)) 
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [22]:
ser = pd.Series(np.random.normal(10, 5, 25))
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?

In [23]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

d    10
b     5
g     4
e     4
f     3
c     2
h     1
a     1
Name: count, dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [24]:

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 1    3
4    3
3    3
2    3
Name: count, dtype: int64

/tmp/ipykernel_10067/1915976221.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0         1
1         4
2         1
3     Other
4         1
5     Other
6     Other
7     Other
8     Other
9         4
10        4
11    Other
dtype: object

11. How to bin a numeric series to 10 groups of equal size?

In [26]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     4th
1     1st
2    10th
3     5th
4     9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. How to convert a numpy array to a dataframe of given shape? (L1)

In [34]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  6  2  6  7
1  2  1  8  9  4
2  7  4  5  5  1
3  5  7  2  3  9
4  1  5  1  1  7
5  9  5  8  9  3
6  2  6  9  1  2

13. How to find the positions of numbers that are multiples of 3 from a series?

In [35]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser % 3==0)

0    8
1    1
2    1
3    1
4    8
5    1
6    4
dtype: int64

array([], shape=(0, 1), dtype=int64)

14. How to extract items at given positions from a series

In [36]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [47]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df1= pd.concat([ser1, ser2], axis=0)
df2 = pd.concat([ser1, ser2], axis=1)
df1.head()
df2.head()

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?

In [50]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
res=[pd.Index(ser1).get_loc(i) for i in ser2]
res

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?

In [58]:

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean(np.square(truth-pred))

np.float64(0.23028745109341459)

18. How to convert the first character of each element in a series to uppercase?

In [60]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [62]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.len()

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?

In [66]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
diff=ser.diff()
diff2=diff.diff()
print(diff.tolist())
print(diff2.tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?

In [79]:
ser = pd.Series(['01 Jan 2010', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
time_series = pd.to_datetime(ser, errors='coerce', dayfirst=True)

# Display the result
print(time_series)

0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [86]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
time_series = pd.to_datetime(ser, errors='coerce')
day_of_month = time_series.dt.day
week_number = time_series.dt.isocalendar().week
day_of_year = time_series.dt.dayofyear
day_of_week = time_series.dt.day_name()
print("Day of Month:\n", day_of_month.tolist())
print("Week Number:\n", week_number.tolist())
print("Day of Year:\n", day_of_year.tolist())
print("Day of Week:\n", day_of_week.tolist())

Day of Month:
 [1.0, nan, nan, nan, nan, nan]
Week Number:
 [53, <NA>, <NA>, <NA>, <NA>, <NA>]
Day of Year:
 [1.0, nan, nan, nan, nan, nan]
Day of Week:
 ['Friday', nan, nan, nan, nan, nan]

23. How to convert year-month string to dates corresponding to the 4th day of the month?